test-ade-citygml4j/src/main/resources/org/citygml4j/ade/testade/schemas/CityGML-TestADE.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:TestADE="http://www.citygml.org/ade/TestADE/2.0" xmlns:bldg="http://www.opengis.net/citygml/building/3.0" xmlns:con="http://www.opengis.net/citygml/construction/3.0" xmlns:core="http://www.opengis.net/citygml/3.0" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="http://www.citygml.org/ade/TestADE/2.0" version="2.0">
  <import namespace="http://www.opengis.net/citygml/3.0" schemaLocation="../schema/core.xsd"/>
  <import namespace="http://www.opengis.net/citygml/building/3.0" schemaLocation="../schema/building.xsd"/>
  <import namespace="http://www.opengis.net/citygml/construction/3.0" schemaLocation="../schema/construction.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element abstract="true" name="AbstractBuildingUnderground" substitutionGroup="core:AbstractOccupiedSpace" type="TestADE:AbstractBuildingUndergroundType"/>
  <complexType abstract="true" name="AbstractBuildingUndergroundType">
    <complexContent>
      <extension base="core:AbstractOccupiedSpaceType">
        <sequence>
          <element minOccurs="0" name="class" type="gml:CodeType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="usage" type="gml:CodeType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="energyPerformanceCertification" type="TestADE:EnergyPerformanceCertificationPropertyType"/>
          <element minOccurs="0" name="extent" type="gml:SurfacePropertyType"/>
          <element minOccurs="0" name="genericGeometry" type="gml:GeometryPropertyType"/>
          <element minOccurs="0" name="reliefPoints" type="gml:MultiPointPropertyType"/>
          <element minOccurs="0" name="breaklines" type="gml:MultiCurvePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="address" type="core:AddressPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="equippedWith">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="TestADE:Facility"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="function" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractBuildingUndergroundPropertyType">
    <sequence minOccurs="0">
      <element ref="TestADE:AbstractBuildingUnderground"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="BuildingProperties" substitutionGroup="bldg:ADEOfAbstractBuilding" type="TestADE:BuildingPropertiesType"/>
  <complexType name="BuildingPropertiesType">
    <complexContent>
      <extension base="bldg:ADEOfAbstractBuildingType">
        <sequence>
          <element minOccurs="0" name="ownerName" type="string"/>
          <element name="energyPerformanceCertification" type="TestADE:EnergyPerformanceCertificationPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="buildingUnderground">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="TestADE:AbstractBuildingUnderground"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element minOccurs="0" name="floorArea" type="gml:AreaType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BuildingPropertiesPropertyType">
    <sequence>
      <element ref="TestADE:BuildingProperties"/>
    </sequence>
  </complexType>
  <element name="BuildingUnderground" substitutionGroup="TestADE:AbstractBuildingUnderground" type="TestADE:BuildingUndergroundType"/>
  <complexType name="BuildingUndergroundType">
    <complexContent>
      <extension base="TestADE:AbstractBuildingUndergroundType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="consistsOf">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="TestADE:BuildingUndergroundPart"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BuildingUndergroundPropertyType">
    <sequence minOccurs="0">
      <element ref="TestADE:BuildingUnderground"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="BuildingUndergroundPart" substitutionGroup="TestADE:AbstractBuildingUnderground" type="TestADE:BuildingUndergroundPartType"/>
  <complexType name="BuildingUndergroundPartType">
    <complexContent>
      <extension base="TestADE:AbstractBuildingUndergroundType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BuildingUndergroundPartPropertyType">
    <sequence minOccurs="0">
      <element ref="TestADE:BuildingUndergroundPart"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="ElectricalAppliance" substitutionGroup="TestADE:Facility" type="TestADE:ElectricalApplianceType"/>
  <complexType name="ElectricalApplianceType">
    <complexContent>
      <extension base="TestADE:FacilityType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ElectricalAppliancePropertyType">
    <sequence minOccurs="0">
      <element ref="TestADE:ElectricalAppliance"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="EnergyPerformanceCertification" substitutionGroup="gml:AbstractObject" type="TestADE:EnergyPerformanceCertificationType"/>
  <complexType name="EnergyPerformanceCertificationType">
    <sequence>
      <element maxOccurs="unbounded" name="certificationName" type="string"/>
      <element name="certificationId" type="string"/>
    </sequence>
  </complexType>
  <complexType name="EnergyPerformanceCertificationPropertyType">
    <sequence>
      <element ref="TestADE:EnergyPerformanceCertification"/>
    </sequence>
  </complexType>
  <element name="Facility" substitutionGroup="gml:AbstractFeature" type="TestADE:FacilityType"/>
  <complexType name="FacilityType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="electricalPower" type="gml:MeasureType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FacilityPropertyType">
    <sequence minOccurs="0">
      <element ref="TestADE:Facility"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IndustrialBuilding" substitutionGroup="bldg:Building" type="TestADE:IndustrialBuildingType"/>
  <complexType name="IndustrialBuildingType">
    <complexContent>
      <extension base="bldg:BuildingType">
        <sequence>
          <element minOccurs="0" name="remark" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IndustrialBuildingPropertyType">
    <sequence minOccurs="0">
      <element ref="TestADE:IndustrialBuilding"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="IndustrialBuildingPart" substitutionGroup="bldg:BuildingPart" type="TestADE:IndustrialBuildingPartType"/>
  <complexType name="IndustrialBuildingPartType">
    <complexContent>
      <extension base="bldg:BuildingPartType">
        <sequence>
          <element minOccurs="0" name="remark" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IndustrialBuildingPartPropertyType">
    <sequence minOccurs="0">
      <element ref="TestADE:IndustrialBuildingPart"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="LightingFacility" substitutionGroup="TestADE:Facility" type="TestADE:LightingFacilityType"/>
  <complexType name="LightingFacilityType">
    <complexContent>
      <extension base="TestADE:FacilityType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LightingFacilityPropertyType">
    <sequence minOccurs="0">
      <element ref="TestADE:LightingFacility"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="MovingConstruction" substitutionGroup="con:OtherConstruction" type="TestADE:MovingConstructionType"/>
  <complexType name="MovingConstructionType">
    <complexContent>
      <extension base="con:OtherConstructionType">
        <sequence>
          <element minOccurs="0" name="remark" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="coveredBy">
            <complexType>
              <complexContent>
                <extension base="gml:AbstractFeatureMemberType">
                  <sequence minOccurs="0">
                    <element ref="con:RoofSurface"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MovingConstructionPropertyType">
    <sequence minOccurs="0">
      <element ref="TestADE:MovingConstruction"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="SolarRoofSurface" substitutionGroup="con:RoofSurface" type="TestADE:SolarRoofSurfaceType"/>
  <complexType name="SolarRoofSurfaceType">
    <complexContent>
      <extension base="con:RoofSurfaceType">
        <sequence>
          <element minOccurs="0" name="remark" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SolarRoofSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="TestADE:SolarRoofSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
